.city-weather-block {
    min-width: 320px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    .main-info {

        width: 300px;
        display: flex;
        flex-direction: column;
        
        
        
        .img-city {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        div {
            p.weather-text {
                margin-left: 20px;
            }
        }

        .temperature {
            margin-left: 20px;
        }
        
    }
}