.main-section {
    height: 700px;
    display: flex;
    justify-content: center;
    
    ul.cities-list {
        width: 1400px;
        display: flex;
        justify-content: space-around;
        flex-wrap:wrap;
        
        list-style-type: none;
        
        
    }
    
}